HELP.md

# Maven
target/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Environment Variables
.env
.env.*

# Local Spring Profiles
src/main/resources/application-development.properties
src/main/resources/application-local.properties

# Logs
*.log
logs/